*, *::before, *::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	background: var(--background-light);
}

a {
	text-decoration: none;
	color: var(--blue);
	&:hover {
		text-decoration: underline;
	}
}
h2 {
	font-size:64px;
	line-height:1;
	margin-bottom:10px;
	text-align:center;
	color: var(--base-800);
	padding:30px;
	small {
		display:block;
		font-weight:100;
		font-size:0.5em;
		color:var(--base);
	}
	@media (max-width:1024px){
		font-size:48px;
	}
}

h3 {
	font-size:32px;
	font-weight:600;
	line-height:1;
	margin-bottom:20px;
	color: var(--base-800);
}

ul {
    list-style-type: none;
    padding: 0;
}