.skills {
	.holder-blue {
		background-color: var(--blue-100);
		border-radius:30px;
		padding:30px;
		display:flex;
		@media(max-width:1024px){
			flex-direction:column;
            font-size: 1rem;
		}
		.left-column {
			flex:1;
			ul {
				list-style-type: none;
				gap:10px;
				margin-right: 10px;
				margin-bottom:20px;
				li {
					display:inline-block;
					background-color: var(--blue-400);
					padding:10px 20px;
					border-radius:15px;
					margin:2px;
				}
			}
		}
		.right-column {
			flex:1;
			p {
				margin-bottom:20px;
			}
		}
	}
}

.hidden-skill {
    display: none;
	background-color: var(--blue-400);
					padding:10px 20px;
					border-radius:15px;
					margin:2px;
}

#toggleCommSkillsButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
	margin-bottom: 20px;
}

#toggleCommSkillsButton:hover {
    text-decoration: underline;
}

  